body {
    background-color: aliceblue;
    color: white;
    padding: 10px;
    font-family: Arial;
    /* text-align: center; */
}

.task {
    display: flex;
    gap: 170px;
}

.second {
    display: flex;
    /* justify-content: center; */
    width: 15vw;
    height: 80vh;
}

.other {
    height: 87.35vh;
}

ul.secondbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    justify-content: start;
    padding: 0px;
    margin: 5px 0px;
    border: 1px solid black;
}

ul.secondbar li a {
    text-decoration: none;
    justify-content: center;
    margin: 0px 5px;
    padding: 00px 5px;
    color: black;
}

.datasource-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0px;
    padding: 2px;
    min-width: fit-content;
}


/* ul.bottom-bar {
    display: flex;
    flex-direction: row;
} */